* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

#root {
  overflow-x: hidden;
  overflow-y: hidden;
}
li {
  list-style: none;
}
